html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    height: 100%;
}

#container {
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 0;
    padding-bottom: calc(env(safe-area-inset-bottom) + 0px);
    background-color: #f5f5f5;
}

.modal-header {
    background: #212529;
    color: #fff;
}

header section {
    position: relative;
    z-index: 210;
    padding-top: 4px;
    background-color: rgb(26, 27, 31);
}

header section > div {
    height: 36px;
    padding: 8px 4px 8px 16px;
}

header section > div > a {
    color: white;
    line-height: 10px;
    margin-right: 16px;
    font-size: 22px;
    cursor: pointer;
}

header section img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.react-tabs__tab-list {
    background-color: rgb(26, 27, 31);
}

.react-tabs__tab {
    padding: 12px 0;
    overflow: auto hidden;
    white-space: nowrap;
    outline: none;
}

.react-tabs__tab > a {
    height: 20px;
    color: white;
    opacity: 0.6;
    font-weight: 400;
    cursor: pointer;
    text-decoration: inherit;
}

.react-tabs__tab > a > span {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
}

.react-tabs__tab .active {
    opacity: 1;
    font-weight: 600;
}

.react-tabs > article {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.react-tabs__tab-panel > section {
    padding: 0 16px 24px;
}

.react-tabs__tab-panel > section > header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding-top: 12px;
    box-sizing: border-box;
}

.list-group-item {
    line-height: 25px;
}

.react-tabs__tab-panel > section > header > h3 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.brand {
    position: relative;
}

.brand .brand-name {
    position: absolute;
    top: 4px;
    left: 9px;
    color: white;
    font-weight: bold;
}

.user {
    position: relative;
    height: 200px;
}

.user .user-icon {
    position: absolute;
    font-size: 70px;
    top: 15%;
    left: 35%;
}

.user .user-title {
    position: absolute;
    top: 60%;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}